<h1>Go lead some thoughts! <small><%= link_to "Refresh my thoughts", storm_checks_path, method: :post %></small></h1>
<hr>
<table class="table table-striped">
  <% @originating_tweets.each do |tweet| %>

  <tr>
    <td><%= tweet.formatted_original_timestamp %></td>
    <td><%= tweet.formatted_text %></td>
    <td><%= link_to "Hide", storm_path(id: tweet.id), method: :delete %></td>
    <td><%= link_to "See whole storm", storm_path(id: tweet.id) %></td>
  </tr>

  <% end %>
</table>
