<h1>Show Tweetstorm</h1>

<table class="table table-striped">
  <tr>
    <td><%= @root.formatted_original_timestamp %></td>
    <td><%= @root.text %></td>
  </tr>

  <% @reply_chain.each do |tweet| %>
    <tr>
      <td><%= tweet.formatted_original_timestamp %></td>
      <td><%= tweet.text %></td>
    </tr>
  <% end %>
</table>

<%= link_to "Make a draft", new_draft_path(root_id: @root.id) %>