<h1>New draft from storm</h1>
<hr>
<textarea rows="<%= @reply_chain.count * 4 %>" cols="80">
<%= @draft %>
</textarea>
<hr>
<table class="table table-striped">
  <tr>
    <td><%= @root.formatted_original_timestamp %></td>
    <td><%= @root.formatted_text %></td>
  </tr>

  <% @reply_chain.each do |tweet| %>
    <tr>
      <td><%= tweet.formatted_original_timestamp %></td>
      <td><%= tweet.formatted_text %></td>
    </tr>
  <% end %>
</table>
